# Rust
/skanda_engine/target/
**/*.rs.bk

# Skanda Indices
*.bin
skanda_engine/*.bin

# Test Data
skanda_engine/data_heavy/

# OS specific
.DS_Store
Thumbs.db

# Misc
results.tsv
everythingpossible.md
C:\Users\Deviprasad Shetty\.gemini\tmp\res\
