# Rust
/skanda_engine/target/
**/*.rs.bk

# Skanda Indices
*.bin
skanda_engine/*.bin

# Test / Benchmark Data
skanda_engine/data_heavy/
skanda_engine/data/
aliceinwonderland.txt

# Demo App
skanda_engine/demo/node_modules/
skanda_engine/demo/uploads/

# OS specific
.DS_Store
Thumbs.db

# Misc
results.tsv
everythingpossible.md
